html {
  min-height: 100vh
}
body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient()
}

#back {
  position: fixed;
}

.position-relative {
  position: relative;
}


.timeline::before{
  content: "";
  display:block;
  position: absolute;
  height: 400px;
  right: calc(50% - 5px);
  border-left: 10px solid rgba(0, 67, 252, 0.527);
}

.timeline-event{
  position: relative;
}

.timeline-content {
  margin: 10px
}

.timeline-badge {
  position: absolute !important;
  z-index: 100;
}

.timeline-event:nth-child(odd) .timeline-badge{
  left: -20px;
  top:calc(50% - 30px)
}
.timeline-event:nth-child(even) .timeline-badge {
  right: -20px;
  top:calc(50% - 30px)
}

@media (max-width: 600px) {
  .timeline::before{
    left: 18px;
  }
  .timeline-badge {
    left: -20px;
  }
}