.navbar {
  width: 100%;
  // padding: 0 1em;
  height: 2rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0.5rem;
  font-size: 0.4rem;

  ul {
    display: flex;
    margin-left: auto;
  }
  li {
    // margin: 1em;
    color: #fff;
    margin: 0.2rem;
  }
}
